
header {
    display: flex;
    align-items: center;
    height: 65px;
    color:black;
    padding: 30px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    font-family: 'Inter',sans-serif;
}
.card {
    font-family: 'Inter',sans-serif; 
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25); 
    border-radius: 10px; 
    width: 205px;
    font-size: 12px;
    display: flex;          
    flex-direction: column;
    background-color: #f1f1f1;
    padding:20px;
    margin: 15px;
}
  
.logo {
    height:100%;
}

.food-title {
    margin-right: auto;
    font-size:60px;
}
button {
    background-color: #e62121; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.zipcode-input {
    padding: 13px 12px;
    font-size: 16px;
    color: pink;
    height: auto;
}
.img-cover {
    width: 200px;
    height: 300px;
    border-radius: 9px;
    margin-bottom: 9px;
    object-fit: cover;
}
.rating-star {
    width: 14px;
}
.card-stats {
    display: flex;
    align-items: center;
}
.card-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    justify-content: space-between;
    margin: 50px;
}
